.essential-table>tbody>tr>td {
	vertical-align: middle !important;
}

.permit {
	height: 30px;
	width: 52px;
	font-size: 11px;
	vertical-align: middle;
	padding: 5px 10px;
	background-color: #00a65a;
	color: white;
	border-color: #008d4c;
	border-radius: 10px 10px 10px 10px !important;
}

.deny {
	height: 30px;
	width: 52px;
	font-size: 11px;
	vertical-align: middle;
	padding: 5px 10px;
	background-color: #dd4b39;
	color: white;
	border-color: #d73925;
	border-radius: 10px 10px 10px 10px !important;
}

.modify-label {
	margin: 7px 0px 7px 0px;
	width: 14%;
}

#modify-area {
	text-align: left;
}

.hidden {
	visibility: hidden;
}

.modify-text {
	top: 3px;
	position: relative;
	padding-left: 19px;
	background-color: #fff;
	border: 1px solid #aaa;
	border-radius: 4px;
	padding-top: 5px;
}

/* .select2-container, .modify-text { */
/* 	width: 74% !important; */
/* } */
.custom-btn-app:hover {
	background: #f4f4f4;
	color: #444;
	border-color: #aaa;
}

.custom-btn.focus, .custom-btn:focus, .custom-btn:hover {
	color: #333;
	text-decoration: none;
}

.custom-btn {
	height: 30px;
	font-size: 14px;
	vertical-align: middle;
	padding: 6px 10px;
	display: inline-block;
	white-space: nowrap;
	touch-action: manipulation;
	cursor: pointer;
	box-shadow: none;
}

.custom-btn-app {
	border-radius: 3px;
	position: relative;
	width: 10%;
    margin-left: 5px;
	margin-right: 10px;
	text-align: center;
	color: #666;
	border: 1px solid #ddd;
	background-color: #f4f4f4;
}


.select2-container {
	width: 80% !important;
}