<!--

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.shinwootns.ipm.data.mapper.DeviceMapper">

	<select id="selectDevice" resultType="com.shinwootns.ipm.data.entity.DeviceInfoEntity">
		SELECT dev.* 
		FROM device_info dev, SITE_INFO site
		WHERE dev.site_id = site.site_id
	</select>


	<select id="selectDevicebyDeviceType" resultType="com.shinwootns.ipm.data.entity.DeviceInfoEntity">
		SELECT dev.* 
		FROM device_info dev, SITE_INFO site
		WHERE dev.site_id = site.site_id
		AND dev.device_type = #{device_type}
	</select>

	<update id="updateDevice" parameterType="com.shinwootns.ipm.data.entity.DeviceInfoEntity">
        UPDATE device_info 
        SET	device_name=#{device_name} 
        	, vendor=#{vendor}
        	, model=#{model}
        	, service_type=#{service_type}
        	, sys_oid=#{sys_oid}
        	, sys_location=#{sys_location}
        	, update_time = now()
        WHERE device_id = #{device_id}
    </update>
   
</mapper>

-->