<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
        
<configuration>

    <typeAliases>
        <package name="com.shinwootns.ipm.data.entiy"/>
    </typeAliases>
    
    
    <mappers>
    	<mapper resource="mybatis/mapper/DeviceMapper.xml"/>
    	<mapper resource="mybatis/mapper/DhcpMapper.xml"/>
    	
    	<!-- 
        <mapper resource="mybatis/mapper/SiteMapper.xml"/>
        <mapper resource="mybatis/mapper/EventMapper.xml"/>
        -->
    </mappers>
 
</configuration>