<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shinwootns.ipm.data.mapper.DhcpMapper">

	<select id="selectDhcpNetworkBySiteId" resultType="com.shinwootns.ipm.data.entity.DhcpNetwork">
		<![CDATA[
			SELECT * FROM dhcp_network WHERE site_id=#{site_id}
		]]>
	</select>
	
	<insert id="insertDhcpNetwork" parameterType="com.shinwootns.ipm.data.entity.DhcpNetwork">
		<![CDATA[
			INSERT INTO dhcp_network (site_id, network, start_ip, end_ip, comment)
			VALUES ( #{site_id}, #{network}, #{start_ip}, #{end_ip}, #{comment} ) 
		]]>
	</insert>
	
	<update id="updateDhcpNetwork" parameterType="com.shinwootns.ipm.data.entity.DhcpNetwork">
		<![CDATA[
			UPDATE dhcp_network
			SET start_ip=#{start_ip}, end_ip=#{end_ip}, comment=#{comment}, update_time=now()
			WHERE site_id=#{site_id} AND network =#{network}
		]]>
	</update>
	
	<delete id="deleteDhcpNetwork">
		<![CDATA[
			DELETE FROM dhcp_network
			WHERE site_id=#{site_id} AND network =#{network}
		]]>
	</delete>
	
</mapper>