<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shinwootns.ipm.data.mapper.DhcpMapper">

	<!-- ############################ DHCP NETWORK ############################ -->
	<select id="selectDhcpNetworkBySiteId" resultType="com.shinwootns.data.entity.DhcpNetwork">
		<![CDATA[
			SELECT * FROM dhcp_network WHERE site_id=#{site_id}
		]]>
	</select>
	
	<!-- ############################ DHCP RANGE ############################ -->
	<select id="selectDhcpRangeBySiteId" resultType="com.shinwootns.data.entity.DhcpRange">
		<![CDATA[
			SELECT * FROM dhcp_range WHERE site_id=#{site_id}
		]]>
	</select>
	
	<!-- ############################ DHCP Fixed IP ############################ -->
	<select id="selectDhcpFixedIpBySiteId" resultType="com.shinwootns.data.entity.DhcpFixedIp">
		<![CDATA[
			SELECT * FROM dhcp_fixed_ip WHERE site_id=#{site_id}
		]]>
	</select>
	
	<insert id="insertDhcpFixedIp" parameterType="com.shinwootns.data.entity.DhcpFixedIp">
		<![CDATA[
			INSERT INTO dhcp_fixed_ip (site_id, network, ipaddr, macaddr, comment, disable, update_time)
			VALUES ( #{site_id}, #{network}, #{ipaddr}, #{macaddr}, #{comment}, #{disable}, now() ) 
		]]>
	</insert>
	
	<update id="updateDhcpFixedIp" parameterType="com.shinwootns.data.entity.DhcpFixedIp">
		<![CDATA[
			UPDATE dhcp_fixed_ip
			SET network=#{network}, macaddr=#{macaddr}, comment=#{comment}, disable=#{disable}, update_time=now()
			WHERE site_id=#{site_id} AND ipaddr=#{ipaddr}
		]]>
	</update>
	
	<delete id="deleteDhcpFixedIp">
		<![CDATA[
			DELETE FROM dhcp_fixed_ip
			WHERE site_id=#{site_id} AND ipaddr=#{ipaddr}
		]]>
	</delete>
	
	<!-- ############################ DHCP Filter ############################ -->
	<select id="selectDhcpFilterBySiteId" resultType="com.shinwootns.data.entity.DhcpMacFilter">
		<![CDATA[
			SELECT * FROM dhcp_mac_filter WHERE site_id=#{site_id}
		]]>
	</select>
	
	<insert id="insertDhcpFilter" parameterType="com.shinwootns.data.entity.DhcpMacFilter">
		<![CDATA[
			INSERT INTO dhcp_mac_filter (site_id, filter_name, insert_time, update_time)
			VALUES ( #{site_id}, #{filter_name}, now(), now() ) 
		]]>
	</insert>
	
	<update id="updateDhcpFilter" parameterType="com.shinwootns.data.entity.DhcpMacFilter">
		<![CDATA[
			UPDATE dhcp_mac_filter
			SET update_time=now()
			WHERE site_id=#{site_id} AND filter_name=#{filter_name}
		]]>
	</update>
	
	<delete id="deleteDhcpFilter">
		<![CDATA[
			DELETE FROM dhcp_mac_filter
			WHERE site_id=#{site_id} AND filter_name=#{filter_name}
		]]>
	</delete>
	
	<!-- ############################ DHCP IP STATUS ############################ -->
	<select id="selectDhcpIpStatusByNetwork" resultType="com.shinwootns.data.entity.DhcpIpStatus">
		<![CDATA[
			SELECT * FROM dhcp_ip_status WHERE site_id=#{site_id} AND network=#{network}
		]]>
	</select>
	
	<insert id="insertDhcpIpStatus" parameterType="com.shinwootns.data.entity.DhcpIpStatus">
		<![CDATA[
			INSERT INTO dhcp_ip_status (
				site_id, network, ipaddr, ip_type, macaddr, duid, is_conflict
				, conflict_types, status, lease_state, obj_types, discover_status
				, usage, host_name, host_os, fingerprint, lease_start_time, lease_end_time
				, last_discovered, is_never_ends, is_never_start, update_time)
			VALUES ( 
				#{site_id}, #{network}, #{ipaddr}, #{ip_type}, #{macaddr}, #{duid}, #{is_conflict}
				, #{conflict_types}, #{status}, #{lease_state}, #{obj_types}, #{discover_status}
				, #{usage}, #{host_name}, #{host_os}, #{fingerprint}, #{lease_start_time}
				, #{lease_end_time}, #{last_discovered}, #{is_never_ends}, #{is_never_start}, now() ) 
		]]>
	</insert>
	
	<update id="updateDhcpIpStatus" parameterType="com.shinwootns.data.entity.DhcpIpStatus">
		<![CDATA[
			UPDATE dhcp_ip_status
			SET network=#{network}, ip_type=#{ip_type}, macaddr=#{macaddr}, duid=#{duid}, is_conflict=#{is_conflict}, conflict_types=#{conflict_types}
				, status=#{status}, lease_state=#{lease_state}, obj_types=#{obj_types}, discover_status=#{discover_status}
				, usage=#{usage}, host_name=#{host_name}, host_os=#{host_os}, fingerprint=#{fingerprint}
				, lease_start_time=#{lease_start_time}, lease_end_time=#{lease_end_time}, last_discovered=#{last_discovered}
				, is_never_ends=#{is_never_ends}, is_never_start=#{is_never_start}
				, update_time=now()
			WHERE site_id=#{site_id} AND ipaddr=#{ipaddr}
		]]>
	</update>
	
	<delete id="deleteDhcpIpStatus">
		<![CDATA[
			DELETE FROM dhcp_ip_status
			WHERE site_id=#{site_id} AND ipaddr=#{ipaddr}
		]]>
	</delete>
	
	
</mapper>