<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.shinwootns.ipm.data.mapper.EventMapper">

    <insert id="insertEventLog" parameterType="com.shinwootns.data.entity.EventLogEntity">
        INSERT INTO event_log (device_id, host_ip, event_type, severity, collect_time, message)
		VALUES (
			#{device_id}, 
			#{host_ip}, 
			#{event_type}, 
			#{severity}, 
			#{collect_time}, 
			#{message}
		)
    </insert>
    
</mapper>
