<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="mybatis.mapper.ipmDBMapper">

	<select id="findAll" resultType="com.shinwootns.swt.data.entity.AuthType">
        SELECT * FROM auth_type
    </select>

    <select id="findById" resultType="com.shinwootns.swt.data.entity.AuthType">
        select * from auth_type where auth_type_id = #{auth_type_id}
    </select>
    
</mapper>