<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.shinwootns.ipm.insight.data.mapper.ClientMapper">

    <!-- ############################ Client Info ############################ -->
    <!-- 
	<select id="selectClientInfo" resultType="com.shinwootns.data.entity.ClientInfo">
		<![CDATA[
			SELECT * FROM client_info WHERE macaddr=#{macaddr}
		]]>
	</select>
	
	<insert id="insertClientInfo" parameterType="com.shinwootns.data.entity.ClientInfo">
		<![CDATA[
			INSERT INTO client_info (macaddr, duid, hostname, vendor, model, os, ip_type, last_ip, last_ip_num, last_switch, last_port, position_update, update_time )
			VALUES ( #{macaddr}, #{duid}, #{hostname}, #{vendor}, #{model}, #{os}, #{ip_type}, #{last_ip}, #{last_ip_num}, #{last_switch}, #{last_port}, #{position_update}, now() ) 
		]]>
	</insert>
	
	<update id="updateClientInfo" parameterType="com.shinwootns.data.entity.ClientInfo">
		UPDATE client_info
		SET update_time = now() 
		<if test="duid != null">
		, duid = #{duid}
		</if>
		<if test="hostname != null">
		, hostname = #{hostname}
		</if>
		<if test="vendor != null">
		, vendor = #{vendor}
		</if>
		<if test="model != null">
		, model = #{model}
		</if>
		<if test="os != null">
		, os = #{os}
		</if>
		<if test="ip_type != null">
		, ip_type = #{ip_type}
		</if>
		<if test="last_ip != null">
		, last_ip = #{last_ip}
		</if>
		<if test="last_ip_num != null">
		, last_ip_num = #{last_ip_num}
		</if>
		<if test="last_switch != null">
		, last_switch = #{last_switch}
		</if>
		<if test="last_port != null">
		, last_port = #{last_port}
		</if>
		<if test="position_update != null">
		, position_update = #{position_update}
		</if>
		WHERE macaddr = #{macaddr}
	</update>
	-->
	
	
	<update id="updateClientInfoFromIpStatus">
	
		-- INSERT NEW DATA
		INSERT INTO client_info (macaddr, duid, hostname, vendor, model, os, ip_type, last_ip, last_ip_num, update_time)
			SELECT ip.macaddr, ip.duid, ip.host_name AS hostname 
			, ip.vendor, '' model, ip.os, ip.ip_type, ip.ipaddr AS last_ip, ip.ip_num AS last_ip_num, now() AS update_time
		FROM view_ip_status ip 
		WHERE 1=1
		AND ip.macaddr NOT IN ( SELECT DISTINCT macaddr FROM client_info )
		AND COALESCE(ip.macaddr,'') != ''
		AND COALESCE(ip.ip_status,'') != ''
		AND ip.site_id = #{site_id}
		AND ip.network = #{network};
	
		-- UPDATE PREVIOUS DATA
		UPDATE client_info AS c
		SET duid = ip.duid, hostname = ip.host_name, vendor = ip.vendor, os = ip.os
		, ip_type = ip.ip_type, last_ip = ip.ipaddr, last_ip_num = ip.ip_num, update_time = now()
		FROM view_ip_status ip
		WHERE COALESCE(ip.macaddr,'') != ''
		AND COALESCE(ip.ip_status,'') != ''
		AND c.macaddr = ip.macaddr
		AND ( 
		     COALESCE(c.duid,'') != COALESCE(ip.duid,'')
		  OR COALESCE(c.hostname,'') != COALESCE(ip.host_name,'')
		  OR COALESCE(c.vendor,'') != COALESCE(ip.vendor,'')
		  OR COALESCE(c.os,'') != COALESCE(ip.os,'')
		  OR COALESCE(c.ip_type,'') != COALESCE(ip.ip_type,'')
		  OR COALESCE(c.last_ip,'') != COALESCE(ip.ipaddr,'')
		  OR COALESCE(c.last_ip_num,0) != COALESCE(ip.ip_num,0)
		)
		AND ip.site_id = #{site_id}
		AND ip.network = #{network};
		
	</update>

</mapper>
