<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.shinwootns.ipm.insight.data.mapper.DhcpMapper">

    <!-- ############################ DHCP NETWORK ############################ -->
	<select id="selectDhcpNetworkBySiteId" resultType="com.shinwootns.data.entity.DhcpNetwork">
		<![CDATA[
			SELECT * FROM dhcp_network WHERE site_id=#{site_id}
		]]>
	</select>
	
	<insert id="insertDhcpNetwork" parameterType="com.shinwootns.data.entity.DhcpNetwork">
		<![CDATA[
			INSERT INTO dhcp_network (site_id, network, ip_type, start_ip, end_ip, start_num, end_num, ip_count, comment)
			VALUES ( #{site_id}, #{network}, #{ip_type}, #{start_ip}, #{end_ip}, #{start_num}, #{end_num}, #{ip_count}, #{comment} ) 
		]]>
	</insert>
	
	<update id="updateDhcpNetwork" parameterType="com.shinwootns.data.entity.DhcpNetwork">
		<![CDATA[
			UPDATE dhcp_network
			SET ip_type=#{ip_type}, start_ip=#{start_ip}, end_ip=#{end_ip}, start_num=#{start_num}, ip_count=#{ip_count}, end_num=#{end_num}
				, comment=#{comment}, update_time=now()
			WHERE site_id=#{site_id} AND network =#{network}
		]]>
	</update>
	
	<delete id="deleteDhcpNetwork">
		<![CDATA[
			DELETE FROM dhcp_network
			WHERE site_id=#{site_id} AND network =#{network}
		]]>
	</delete>
    
    <!-- ############################ DHCP RANGE ############################ -->
	<select id="selectDhcpRange" resultType="com.shinwootns.data.entity.DhcpRange">
		<![CDATA[
			SELECT * FROM dhcp_range 
			WHERE site_id=#{site_id}
			AND disable = false
		]]>
	</select>
	
	<insert id="insertDhcpRange" parameterType="com.shinwootns.data.entity.DhcpRange">
		<![CDATA[
			INSERT INTO dhcp_range (site_id, network, ip_type, start_ip, end_ip, start_num, end_num, ip_count, comment, disable)
			VALUES ( #{site_id}, #{network}, #{ip_type}, #{start_ip}, #{end_ip}, #{start_num}, #{end_num}, #{ip_count}, #{comment}, #{disable} ) 
		]]>
	</insert>
	
	<update id="updateDhcpRange" parameterType="com.shinwootns.data.entity.DhcpRange">
		<![CDATA[
			UPDATE dhcp_range
			SET end_ip=#{end_ip}, ip_type=#{ip_type}, start_num=#{start_num}, end_num=#{end_num}, ip_count=#{ip_count}
				, comment=#{comment}, disable=#{disable}, update_time=now()
			WHERE site_id=#{site_id} AND network =#{network} AND start_ip = #{start_ip}
		]]>
	</update>
	
	<delete id="deleteDhcpRange">
		<![CDATA[
			DELETE FROM dhcp_range
			WHERE site_id=#{site_id} AND network = #{network} AND start_ip = #{start_ip}
		]]>
	</delete>
	
	<select id="selectDhcpGuestRange" resultType="com.shinwootns.data.entity.DhcpRange">
		<![CDATA[
			SELECT rg.* 
			FROM dhcp_range rg, site_guest_range guest
			WHERE rg.site_id=#{site_id}
			AND rg.comment = guest.range_comment
			AND rg.disable = false
		]]>
	</select>
	
	<!-- ############################ DHCP Filter ############################ -->
	<select id="selectDhcpFilter" resultType="com.shinwootns.data.entity.DhcpMacFilter">
		<![CDATA[
			SELECT * FROM dhcp_mac_filter WHERE site_id=#{site_id}
		]]>
	</select>
	
	<insert id="insertDhcpFilter" parameterType="com.shinwootns.data.entity.DhcpMacFilter">
		<![CDATA[
			INSERT INTO dhcp_mac_filter (site_id, filter_name, filter_desc, disable, never_expires, default_expiration_time, enforce_expiration_times, insert_time, update_time)
			VALUES ( #{site_id}, #{filter_name}, #{filter_desc}, #{disable}, #{never_expires}, #{default_expiration_time}, #{enforce_expiration_times}, now(), now() ) 
		]]>
	</insert>
	
	<update id="updateDhcpFilter" parameterType="com.shinwootns.data.entity.DhcpMacFilter">
		<![CDATA[
			UPDATE dhcp_mac_filter
			SET filter_desc = #{filter_desc}, disable = #{disable}, never_expires = #{never_expires}
				, default_expiration_time = #{default_expiration_time}, enforce_expiration_times = #{enforce_expiration_times}, update_time=now()
			WHERE site_id=#{site_id} AND filter_name=#{filter_name}
		]]>
	</update>
	
	<delete id="deleteDhcpFilter">
		<![CDATA[
			DELETE FROM dhcp_mac_filter
			WHERE site_id=#{site_id} AND filter_name=#{filter_name}
		]]>
	</delete>
	
	<select id="selectDhcpBlacklistFilter" resultType="com.shinwootns.data.entity.DhcpMacFilter">
		<![CDATA[
			SELECT ft.* 
			FROM dhcp_mac_filter ft, site_blacklist_info bk
			WHERE ft.site_id=#{site_id}
			AND ft.site_id = bk.site_id
			AND ft.filter_name = bk.blacklist_filter_name
			AND ft.disable = false
			AND bk.blacklist_enable = true
		]]>
	</select>
	
	<!-- ############################ DHCP Fixed IP ############################ -->
	<select id="selectDhcpFixedIpBySiteId" resultType="com.shinwootns.data.entity.DhcpFixedIp">
		<![CDATA[
			SELECT * FROM dhcp_fixed_ip WHERE site_id=#{site_id}
		]]>
	</select>
	
	<insert id="insertDhcpFixedIp" parameterType="com.shinwootns.data.entity.DhcpFixedIp">
		<![CDATA[
			INSERT INTO dhcp_fixed_ip (site_id, network, ipaddr, macaddr, ip_type, ip_num, comment, disable, ipv4_match_client
				,ipv6_address_type, ipv6_duid, ipv6_prefix, ipv6_prefix_bits, update_time)
			VALUES ( #{site_id}, #{network}, #{ipaddr}, #{macaddr}, #{ip_type}, #{ip_num}, #{comment}, #{disable}, #{ipv4_match_client}
				, #{ipv6_address_type}, #{ipv6_duid}, #{ipv6_prefix}, #{ipv6_prefix_bits}, now() ) 
		]]>
	</insert>
	
	<update id="updateDhcpFixedIp" parameterType="com.shinwootns.data.entity.DhcpFixedIp">
		<![CDATA[
			UPDATE dhcp_fixed_ip
			SET network = #{network}, macaddr = #{macaddr}, ip_type = #{ip_type}, ip_num = #{ip_num}, comment = #{comment}
				, disable = #{disable}, ipv4_match_client = #{ipv4_match_client}
				, ipv6_address_type = #{ipv6_address_type}, ipv6_duid = #{ipv6_duid}, ipv6_prefix = #{ipv6_prefix}, ipv6_prefix_bits = #{ipv6_prefix_bits}
				, update_time=now()
			WHERE site_id=#{site_id} AND ipaddr=#{ipaddr}
		]]>
	</update>
	
	<delete id="deleteDhcpFixedIp">
		<![CDATA[
			DELETE FROM dhcp_fixed_ip
			WHERE site_id=#{site_id} AND ipaddr=#{ipaddr}
		]]>
	</delete>
	
	<!-- ############################ DHCP IP STATUS ############################ -->
	<select id="selectDhcpIpStatusByNetwork" resultType="com.shinwootns.data.entity.DhcpIpStatus">
		<![CDATA[
			SELECT * FROM dhcp_ip_status WHERE site_id=#{site_id} AND network=#{network}
		]]>
	</select>
	
	<insert id="insertDhcpIpStatus" parameterType="com.shinwootns.data.entity.DhcpIpStatus">
		<![CDATA[
			INSERT INTO dhcp_ip_status (
				site_id, network, ipaddr, ip_type, ip_num, macaddr, duid, is_conflict
				, conflict_types, status, lease_state, obj_types, discover_status
				, usage, host_name, host_os, fingerprint, lease_start_time, lease_end_time
				, last_discovered, is_never_ends, is_never_start, update_time)
			VALUES ( 
				#{site_id}, #{network}, #{ipaddr}, #{ip_type}, #{ip_num}, #{macaddr}, #{duid}, #{is_conflict}
				, #{conflict_types}, #{status}, #{lease_state}, #{obj_types}, #{discover_status}
				, #{usage}, #{host_name}, #{host_os}, #{fingerprint}, #{lease_start_time}
				, #{lease_end_time}, #{last_discovered}, #{is_never_ends}, #{is_never_start}, now() ) 
		]]>
	</insert>
	
	<update id="updateDhcpIpStatus" parameterType="com.shinwootns.data.entity.DhcpIpStatus">
		<![CDATA[
			UPDATE dhcp_ip_status
			SET network=#{network}, ip_type=#{ip_type}, ip_num=#{ip_num}, macaddr=#{macaddr}, duid=#{duid}, is_conflict=#{is_conflict}, conflict_types=#{conflict_types}
				, status=#{status}, lease_state=#{lease_state}, obj_types=#{obj_types}, discover_status=#{discover_status}
				, usage=#{usage}, host_name=#{host_name}, host_os=#{host_os}, fingerprint=#{fingerprint}
				, lease_start_time=#{lease_start_time}, lease_end_time=#{lease_end_time}, last_discovered=#{last_discovered}
				, is_never_ends=#{is_never_ends}, is_never_start=#{is_never_start}
				, update_time=now()
			WHERE site_id=#{site_id} AND ipaddr=#{ipaddr}
		]]>
	</update>
	
	<delete id="deleteDhcpIpStatus">
		<![CDATA[
			DELETE FROM dhcp_ip_status
			WHERE site_id=#{site_id} AND ipaddr=#{ipaddr}
		]]>
	</delete>
	
	
	<!-- ############################ DHCP Long ############################ -->
	
	<insert id="insertDhcpLog" parameterType="com.shinwootns.data.entity.DhcpLog">
		<![CDATA[
			INSERT INTO dhcp_log 
				(site_id, device_id, dhcp_ip, dhcp_type, ip_type, client_ip, client_mac, client_duid, collect_time)
			VALUES 
			(#{site_id}, #{device_id}, #{dhcp_ip}, #{dhcp_type}, #{ip_type}, #{client_ip}, #{client_mac}, #{client_duid}, #{collect_time} ) 
		]]>
	</insert>
    
</mapper>
