.alert-box {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 999;
	left: 0px;
	top: 0px;
	background-color: black;
	opacity: 0.6
}

.mordal-back-box {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 100;
	left: 0px;
	top: 0px;
	background-color: black;
	opacity: 0.6;
	visibility: hidden
}

.placeholderSelectOption {
	color: white;
	font-size: 0px;
	display: none;
}

.selectoption_grey_color {
	color: gray;
}

.selectoption_black_color {
	color: black !important;
}