#holder {
	height: 630px;
	width: 600px;
	background-color: #F5F5F5;
	border: 1px solid #A4A4A4;
	margin-left: 10px;
}

#holder-bottom {
	height: 40px;
	width: 600px;
	background-color: #F5F5F5;
	border: 1px solid #A4A4A4;
	margin-left: 10px;
	margin-top: -35px;
}

#place {
	position: relative;
	top: 10px;
	left: 10px;
	margin: 7px;
}

#place a {
	font-size: 0.6em;
}

#place li {
	list-style: none outside none;
	position: absolute;
}

#place li:hover {
	background-color: yellow;
}

#place .rectangle {
	background: url("../images/ipmap/unused.png") no-repeat scroll 0 0 transparent;
	height: 35px;
	width: 35px;
	display: block;
/* 	background-color: red; */
}

#place .selecting {	
	background-image: url("../images/ipmap/selected-unused.png");
}
#place .dhcpRange {
	background-image: url("../images/ipmap/dhcp-unused.png");
}

#place .unused {
	background-image: url("../images/ipmap/unused.png");
}
#place .network {
	background-image: url("../images/ipmap/network.png");
}
#place .broadcast {
	background-image: url("../images/ipmap/broadcast.png");
}
#place .fixed {
	background-image: url("../images/ipmap/fixed.png");
}
#place .reservation {
	background-image: url("../images/ipmap/reservation.png");
}
#place .conflict {
	background-image: url("../images/ipmap/conflict.png");
}
#place .lease {
	background-image: url("../images/ipmap/lease.png");
}
#place .used {
	background-image: url("../images/ipmap/used.png");
}
#place .abandoned {
	background-image: url("../images/ipmap/abandoned.png");
}



#place .dhcp_unused {
	background-image: url("../images/ipmap/dhcp-unused.png");
}
#place .dhcp_network {
	background-image: url("../images/ipmap/dhcp-network.png");
}
#place .dhcp_broadcast {
	background-image: url("../images/ipmap/dhcp-broadcast.png");
}
#place .dhcp_fixed {
	background-image: url("../images/ipmap/dhcp-fixed.png");
}
#place .dhcp_reservation {
	background-image: url("../images/ipmap/dhcp-reservation.png");
}
#place .dhcp_conflict {
	background-image: url("../images/ipmap/dhcp-conflict.png");
}
#place .dhcp_lease {
	background-image: url("../images/ipmap/dhcp-lease.png");
}
#place .dhcp_used {
	background-image: url("../images/ipmap/dhcp-used.png");
}
#place .dhcp_abandoned {
	background-image: url("../images/ipmap/dhcp-abandoned.png");
}


#place .selected_unused {
	background-image: url("../images/ipmap/selected-unused.png");
}
#place .selected_network {
	background-image: url("../images/ipmap/selected-network.png");
}
#place .selected_broadcast {
	background-image: url("../images/ipmap/selected-broadcast.png");
}
#place .selected_fixed {
	background-image: url("../images/ipmap/selected-fixed.png");
}
#place .selected_reservation {
	background-image: url("../images/ipmap/selected-reservation.png");
}
#place .selected_conflict {
	background-image: url("../images/ipmap/selected-conflict.png");
}
#place .selected_lease {
	background-image: url("../images/ipmap/selected-lease.png");
}
#place .selected_used {
	background-image: url("../images/ipmap/selected-used.png");
}
#place .selected_abandoned {
	background-image: url("../images/ipmap/selected-abandoned.png");
}


#place .row-3, #place .row-4 {
	/*margin-top: 10px;*/	
}


.ul_legend {		
/* 	list-style-image: url("../images/ipmap/selected-unused.png"); */
	margin-left: -50px;
}
.li_Label {
	margin: 10px;
}
.li_legend {
	list-style-type: none;
	padding: 0;
    margin: 5px 0px;
}
.li_Selecting {		
/* 	list-style-image: url("../images/ipmap/selected-unused.png"); */
}
.li_unused {
/* 	list-style-image: url("../images/ipmap/unused.png"); */
}
.li_network {
/* 	ist-style-image: url("../images/ipmap/network.png"); */
}
.li_broadcast {
/* 	list-style-image: url("../images/ipmap/broadcast.png"); */
}
.li_abandoned {
/* 	list-style-image: url("../images/ipmap/abandoned.png"); */
}
.li_fixed {
/* 	list-style-image: url("../images/ipmap/fixed.png"); */
}
.li_reservation {
/* 	list-style-image: url("../images/ipmap/reservation.png"); */
}
.li_conflict {
/* 	list-style-image: url("../images/ipmap/conflict.png"); */
}
.li_lease {
/* 	list-style-image: url("../images/ipmap/lease.png"); */
}
.li_used {
/* 	list-style-image: url("../images/ipmap/used.png"); */
}
.li_range {
/* 	list-style-image: url("../images/ipmap/dhcp-unused.png"); */
}

.ipmap-legend {
	vertical-align: top !important;
}