<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
        
<configuration>

    <typeAliases>
        <package name="com.shinwootns.data.entiy"/>
    </typeAliases>
    
    <mappers>
    	<mapper resource="mybatis/mapper/AuthMapper.xml"/>
    	<mapper resource="mybatis/mapper/DataMapper.xml"/>
    	<mapper resource="mybatis/mapper/ClientMapper.xml"/>
    </mappers>
 
</configuration>