div.row {
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 5px;
}

.white-paper {
	padding-left: 5px;
	padding-right: 5px;
}

.info-label {
	width: 120px;
}
.info-label-b{
	margin-right:10px;
}
.normal {
	color:#02fd3a !important;
}
.empty {
	color:#444444 !important;
}
.warning {
	color:#ff962d !important;
}
.error {
	color:#ff3131 !important;
}
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
     z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}