div.row {
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 5px;
}

.white-paper {
	padding-left: 5px;
	padding-right: 5px;
}

.info-label {
	width: 120px;
}
.info-label-b{
	margin-right:10px;
}
.normal {
	color:#02fd3a !important;
}
.empty {
	color:#444444 !important;
}
.warning {
	color:#ff962d !important;
}
.error {
	color:#ff3131 !important;
}