/* 모양을 잡기 위해서 강제로 변경 */
.white-paper {
    padding-top: 5px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 5px !important;
}

/* .scroll-body-size { */
/* 	width:99%; */
/* } */

div.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}