.send-body {
	border-top: 1px;
	border-top-style: solid;
	border-top-color: #d2d6de;
	border-bottom: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d2d6de;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	min-height: 416px;
}

.send-rows-top {
	margin-bottom: 9px;
}

#delete-button, #add-button, #modify-button {
	margin-top: 0.35rem;
}

.send-row {
	padding-top: 5px;
	padding-bottom: 5px;
}

.send-row label:first-child {
	width:88px;
}
.id-check-button {
	font-size: 12px;
    height: 26px;
    vertical-align: middle;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    margin-bottom: 2px;
}
.send-row label:not(:first-child), #id-check-button {
	margin-left:10px;
	width:88px;
}

.send-label {
	margin-right: 10px;
}

.selected-label {
	font-size: large;
}

.send-top-row-left {
	 text-align: left;
    padding-left: 14px;
    margin-top: 5px;
}

.send-top-row-right {
	padding-right: 15px;
    text-align: right;
    margin-top: -3px;
}

#save-button {
	margin-top: 5px;
}
