.send-head, .send-foot {
	border-bottom: 1px;
	border-bottom-style: inset;
	border-bottom-color: #d2d6de;
	padding-bottom: 5px;
}

.send-row {
	padding-top: 5px;
	padding-bottom: 5px;
}

.send-label {
	margin-right: 10px;
}

.selected-label {
	font-size: large;
}

.send-top-row-left {
	text-align: left;
	padding-left: 14px;
	margin-bottom: 5px;
	margin-top: 9px;
}

.send-top-row-right {
	padding-right: 15px;
	text-align: right;
	margin-top: 5px;
	margin-bottom: 5px;
}

.hidden-row {
	display: none;
}
